.react-player__preview {
    display: none;
    background-color: red;
}
.song-links{
    color: dimgrey;
    text-decoration: none;
}
.song-links:hover{
    color: rgba(0, 0, 0, 0.94);
    text-decoration: none;
}
.row {
    margin-left: auto;
    margin-right: auto;
}